# IPL Men's Match Dataset

1. Importing Libraries:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

2. Load the datasets

In [2]:
df=pd.read_csv("C:/Users/ELCOT/Downloads/archive (3)/match_data.csv")
df

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_5660\2550635781.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/ELCOT/Downloads/archive (3)/match_data.csv")

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,335982
243813,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243814,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243815,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243816,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,caught,SB Joshi,NaN,NaN,335982

3. Data Exploration:

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [4]:
df.tail()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
243812,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,335982
243813,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243814,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243815,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243816,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,caught,SB Joshi,NaN,NaN,335982

In [5]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'cricsheet_id'],
      dtype='object')

In [6]:
df.shape

(243817, 23)

In [7]:
df.size

5607791

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                243817 non-null  int64
 1   season                  243817 non-null  object
 2   start_date              243817 non-null  object
 3   venue                   243817 non-null  object
 4   innings                 243817 non-null  int64
 5   ball                    243817 non-null  float64
 6   batting_team            243817 non-null  object
 7   bowling_team            243817 non-null  object
 8   striker                 243817 non-null  object
 9   non_striker             243817 non-null  object
 10  bowler                  243817 non-null  object
 11  runs_off_bat            243817 non-null  int64
 12  extras                  243817 non-null  int64
 13  wides                   7652 non-null    float64
 14  noballs                 1018 non-null    float64
 15  byes                    628 non-null     float64
 16  legbyes                 3778 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             12067 non-null   object
 19  player_dismissed        12067 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
 22  cricsheet_id            243817 non-null  int64
dtypes: float64(8), int64(5), object(10)
memory usage: 42.8+ MB

In [9]:
df.describe()

,match_id,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed,cricsheet_id
count,2.438170e+05,243817.000000,243817.000000,243817.000000,243817.000000,7652.000000,1018.000000,628.000000,3778.000000,2.0,0.0,0.0,2.438170e+05
mean,8.707328e+05,1.483777,9.557601,1.252607,0.067173,1.204260,1.034381,1.867834,1.304129,5.0,NaN,NaN,8.707328e+05
std,3.532373e+05,0.502855,5.686364,1.626760,0.341989,0.788406,0.325568,1.312454,0.847922,0.0,NaN,NaN,3.532373e+05
min,3.359820e+05,1.000000,0.100000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,3.359820e+05
25%,5.483160e+05,1.000000,4.500000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,5.483160e+05
50%,8.298190e+05,1.000000,9.400000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN,8.298190e+05
75%,1.216507e+06,2.000000,14.400000,1.000000,0.000000,1.000000,1.000000,4.000000,1.000000,5.0,NaN,NaN,1.216507e+06
max,1.370353e+06,6.000000,19.900000,6.000000,7.000000,5.000000,5.000000,4.000000,5.000000,5.0,NaN,NaN,1.370353e+06

In [10]:
df.isnull().sum()

match_id                       0
season                         0
start_date                     0
venue                          0
innings                        0
ball                           0
batting_team                   0
bowling_team                   0
striker                        0
non_striker                    0
bowler                         0
runs_off_bat                   0
extras                         0
wides                     236165
noballs                   242799
byes                      243189
legbyes                   240039
penalty                   243815
wicket_type               231750
player_dismissed          231750
other_wicket_type         243817
other_player_dismissed    243817
cricsheet_id                   0
dtype: int64

In [11]:
# Filling missing values with zeros
df.fillna({'wides':0,'noballs':0,'byes':0,'legbyes':0,'penalty':0},inplace=True)

In [32]:
# Filling missing values in wicket-Related columns:
# Fill missing values with 'None' or 0
df['wicket_type'].fillna('None', inplace=True)
df['player_dismissed'].fillna(0, inplace=True)
df['other_wicket_type'].fillna('None', inplace=True)
df['other_player_dismissed'].fillna(0, inplace=True)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_5660\4286749457.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['other_player_dismissed'].fillna(0, inplace=True)

 Keeping Missing Values:

In some cases, it might be useful to keep missing values as they represent meaningful information (e.g., not every ball 

results in an extra run or wicket).

In [13]:
#rechecking for missing values
df.isnull().sum()

match_id                  0
season                    0
start_date                0
venue                     0
innings                   0
ball                      0
batting_team              0
bowling_team              0
striker                   0
non_striker               0
bowler                    0
runs_off_bat              0
extras                    0
wides                     0
noballs                   0
byes                      0
legbyes                   0
penalty                   0
wicket_type               0
player_dismissed          0
other_wicket_type         0
other_player_dismissed    0
cricsheet_id              0
dtype: int64

In [14]:
df.isnull()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
243813,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
243814,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
243815,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
243816,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
print(df.duplicated().sum())

2

In [16]:
drop_duplicate = df.drop_duplicates().inplace=True
drop_duplicate

True

In [17]:
# convert to excel data:
df.to_excel("ipl_cleaned_data.xlsx", index=False)
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,1370353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,0.0,0.0,0.0,1.0,0.0,None,0,None,0.0,335982
243813,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,335982
243814,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,0.0,0.0,0.0,0.0,0.0,None,0,None,0.0,335982
243815,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,1.0,0.0,0.0,0.0,0.0,None,0,None,0.0,335982
243816,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,0.0,0.0,0.0,0.0,0.0,caught,SB Joshi,None,0.0,335982

In [19]:
# Importing the new cleaned excel dataset:
ipl_df=pd.read_excel("C:/Users/ELCOT/desktop/Data_Analysis_2/ipl_cleaned_data.xlsx")
ipl_df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0,0,0,0,0,NaN,0,NaN,0,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0,0,0,0,0,NaN,0,NaN,0,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0,0,0,0,0,NaN,0,NaN,0,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,0,0,0,0,0,NaN,0,NaN,0,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,0,0,0,0,0,NaN,0,NaN,0,1370353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,0,0,0,1,0,NaN,0,NaN,0,335982
243813,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,0,0,0,0,0,NaN,0,NaN,0,335982
243814,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,0,0,0,0,0,NaN,0,NaN,0,335982
243815,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,1,0,0,0,0,NaN,0,NaN,0,335982
243816,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,0,0,0,0,0,caught,SB Joshi,NaN,0,335982

In [20]:
# Find the whole team:

unique_batting_team = ipl_df['batting_team'].unique()
unique_bowling_team = ipl_df['bowling_team'].unique()

all_unique_team = pd.Series(list(unique_batting_team)+list(unique_bowling_team)).unique()
all_unique_team

total_team= len(all_unique_team)
total_team

18

In [21]:
# Find the total runs off value:
runs_off_value = ipl_df['runs_off_bat'].sum()
runs_off_value

305407

In [22]:
# Find the Total extras value:
extras_value = ipl_df['extras'].sum()
extras_value

16378

In [23]:
# Find the total innings value:
total_innings = ipl_df['innings'].sum()
total_innings

361770

# Questions:

1. Which team has scored top 5 runs across all seasons?

2. Which team has scored bottom 5 runs across all seasons?

3. What is the top 5 number of extras conceded by each team?

4. what is the number of extras seprated the wides,noballs,byes,legbyes,penalty conceded by each team?

5. Who are the top 10 batsmen team with the most runs?

6. What are the distribution of wicket types?

7. Which team winner in season wise?

In [24]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'cricsheet_id'],
      dtype='object')

In [25]:
# 1. Which team has scored top 5 runs across all seasons?
total_runs_by_teams = ipl_df.groupby("batting_team")['runs_off_bat'].sum().reset_index()
top_scorring_team = total_runs_by_teams.sort_values(by="runs_off_bat", ascending=False).head(5)
top_scorring_team

                   batting_team  runs_off_bat
10               Mumbai Indians         37524
16  Royal Challengers Bangalore         35810
8         Kolkata Knight Riders         34668
0           Chennai Super Kings         34334
13             Rajasthan Royals         30541

In [26]:
# 2. Which team has scored bottom 5 runs across all seasons?
total_runs_by_teams = ipl_df.groupby("batting_team")['runs_off_bat'].sum().reset_index()
top_scorring_team = total_runs_by_teams.sort_values(by="runs_off_bat", ascending=False).tail(5)
top_scorring_team

               batting_team  runs_off_bat
9      Lucknow Super Giants          4731
4             Gujarat Lions          4629
14   Rising Pune Supergiant          2370
15  Rising Pune Supergiants          1962
7      Kochi Tuskers Kerala          1758

In [27]:
# 3. What is the top 5 number of extras conceded by each team?
average_extras_by_teams = ipl_df.groupby('bowling_team')['extras'].sum().reset_index()
average_extras_by_teams_sum = average_extras_by_teams.sort_values(by="extras",ascending=False).head()
average_extras_by_teams_sum

                   bowling_team  extras
10               Mumbai Indians    2145
16  Royal Challengers Bangalore    2040
8         Kolkata Knight Riders    1824
13             Rajasthan Royals    1784
0           Chennai Super Kings    1718

In [28]:
#4. What is the number of extras sepreated with wides, noballs, byes,legbyes,penalty conceded by each team?
average_extras_by_teams = ipl_df.groupby('batting_team')[['wides','noballs','byes','legbyes','penalty']].sum().reset_index()
average_extras_by_teams.sort_values(by=['wides','noballs','byes','legbyes','penalty'],ascending=False,inplace=True)
average_extras_by_teams

                   batting_team  wides  noballs  byes  legbyes  penalty
10               Mumbai Indians   1191      122   137      634        0
8         Kolkata Knight Riders   1137      114   155      590        0
16  Royal Challengers Bangalore   1045      126   132      579        0
0           Chennai Super Kings    996      128   112      535        0
13             Rajasthan Royals    882      117   105      455        0
6               Kings XI Punjab    786       71   158      508        0
17          Sunrisers Hyderabad    748       79   102      355        0
3              Delhi Daredevils    717       73    83      391       10
2                Delhi Capitals    325       46    33      159        0
1               Deccan Chargers    279       49    50      200        0
12                 Punjab Kings    240       33    22       84        0
9          Lucknow Super Giants    184       16    17       79        0
5                Gujarat Titans    175       19    19       81        0
11                Pune Warriors    169       24    19      106        0
4                 Gujarat Lions    134       17     8       74        0
7          Kochi Tuskers Kerala     89       11     7       36        0
15      Rising Pune Supergiants     60        7     6       28        0
14       Rising Pune Supergiant     58        1     8       33        0

In [29]:
# 5. Who are the top 10 batsmen team with the most runs:

top_batsmen_teams = df.groupby(['striker', 'batting_team'])['runs_off_bat'].sum().reset_index()

top_batsmen_teams_sorted = top_batsmen_teams.sort_values(by='runs_off_bat', ascending=False).head(10)

print(top_batsmen_teams_sorted)

             striker                 batting_team  runs_off_bat
1152         V Kohli  Royal Challengers Bangalore          7273
907        RG Sharma               Mumbai Indians          5043
1016        SK Raina          Chennai Super Kings          4695
49    AB de Villiers  Royal Challengers Bangalore          4510
702         MS Dhoni          Chennai Super Kings          4508
268        DA Warner          Sunrisers Hyderabad          4016
503       KA Pollard               Mumbai Indians          3437
1071       SV Samson             Rajasthan Royals          3211
221         CH Gayle  Royal Challengers Bangalore          3175
351        G Gambhir        Kolkata Knight Riders          3035

In [30]:
# 6. What are the distribution of wicket types?
wicket_distribution = ipl_df['wicket_type'].value_counts().reset_index()
wicket_distribution.columns = ['wicket_type', 'frequency']
print(wicket_distribution)

             wicket_type  frequency
0                 caught       7437
1                 bowled       2089
2                run out       1062
3                    lbw        750
4      caught and bowled        349
5                stumped        345
6           retired hurt         15
7             hit wicket         15
8            retired out          3
9  obstructing the field          2

In [31]:
#7. year wise winners:
season_wise_wins = df.groupby(['season', 'batting_team'])['match_id'].nunique().reset_index()

# Find the team with the maximum wins in each season
season_wise_winners = season_wise_wins.loc[season_wise_wins.groupby('season')['match_id'].idxmax()]

# Rename columns for better understanding
season_wise_winners.columns = ['season', 'team', 'wins']

print(season_wise_winners)

      season                   team  wins
6       2011         Mumbai Indians    12
10      2012    Chennai Super Kings    18
23      2013         Mumbai Indians    19
30      2014        Kings XI Punjab    17
36      2015    Chennai Super Kings    17
51      2016    Sunrisers Hyderabad    17
56      2017         Mumbai Indians    17
67      2018    Sunrisers Hyderabad    17
68      2019    Chennai Super Kings    15
83      2022       Rajasthan Royals    15
88      2023         Gujarat Titans    17
96   2007/08    Chennai Super Kings    16
105     2009        Deccan Chargers    16
112  2009/10    Chennai Super Kings    16
125     2011  Kolkata Knight Riders     6
130     2019    Chennai Super Kings     3
135  2020/21         Delhi Capitals    17
144     2021  Kolkata Knight Riders    17
150     2022    Chennai Super Kings     3